
.singleColorPalette .colorBox{
    height: 50%;
}

.colorBox.go-back{
    background-color: #000000;
}


.back-button{
    width: 100px;
    position: absolute;
    height: 30px;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    outline: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    line-height: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.copy-button {
    opacity: 0;
}

.colorBox:hover .copy-button{
    opacity: 1;
    transition: 0.4s;
}
